:root {
  /* Sizes */
  --max-width-b: 1440px;
  --max-width: 1200px;
  --max-width-sm: 400px;
  --min-width: 320px;
  --spacing-xxs: 2px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-md-2: 25px;
  --spacing-lg: 40px;
  --spacing-xl: 80px;
  /* Borders */
  --border-radius-sm: 2px;
  --border-radius-md: 5px;
  --border-radius-lg: 10px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 50px;
  /* Fonts */
  --font-default-size: 100%;
  --font-big: 10rem;
  --font-title: 2.5rem;
  --font-subtitle: 1.5rem;
  --font-body: 1rem;
  --font-small: 0.8rem;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  /* Colors */
  --primary-02: #292929;
  --secondary-02: #ffffff;
  --primary: #f8efe4;
  --secondary: #c88585;
  --linear-gradient: linear-gradient(
    45deg,
    #ffffff 0%,
    #f8efe4 50%,
    #c88585 100%
  );
  --shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --dark: #292929;
    --primary: #f8efe4;
    --secondary: #c88585;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--primary-02);
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-size: var(--font-default-size);
  padding: var(--spacing-xl) var(--spacing-lg) 0 var(--spacing-lg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: ease-in-out 0.3s;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  color: var(--primary-02);
}
button:hover {
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
