@import "tailwindcss";

:root {
  /* Sizes */
  --max-width-b: 1440px;
  --max-width: 1200px;
  --max-width-sm: 400px;
  --min-width: 320px;
  --spacing-xxs: 2px;
  --spacing-xs: 5px;
  --spacing-sm: 10px;
  --spacing-md: 20px;
  --spacing-md-2: 25px;
  --spacing-lg: 40px;
  --spacing-xl: 80px;
  /* Borders */
  --border-radius-sm: 2px;
  --border-radius-md: 5px;
  --border-radius-lg: 10px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 50px;
  /* Fonts */
  --default-font-size: 100%;
  --font-big: 10rem;
  --font-title: 2.5rem;
  --font-subtitle: 1.5rem;
  --font-body: 1rem;
  --font-small: 0.8rem;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  /* Colors */
  --primary-02: #292929;
  --secondary-02: #fffefd;
  --primary: #f8efe4;
  --secondary: #c88585;
  --utils-color: rgba(0, 0, 0, 0.25);
  --linear-gradient: linear-gradient(
    45deg,
    #ffffff 0%,
    #f8efe4 50%,
    #c88585 100%
  );

  /* Inputs */
  --input-padding: 10px 15px;
  --linear-gradient-02: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(200, 133, 133, 0.1) 100%
  );
  --shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
@theme inline {
  --color-primary: #f8efe4;
  --color-secondary: #c88585;
  --color-primary-02: #292929;
  --color-secondary-02: #fffefd;
  --color-utils-color: rgba(0, 0, 0, 0.25);
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --dark: #292929;
    --primary: #f8efe4;
    --secondary: #c88585;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--default-font-size);
}

body {
  color: var(--primary-02);
  background: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: var(--spacing-xl) var(--spacing-lg) 0 var(--spacing-lg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: ease-in-out 0.3s;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  font-family: inherit;
  color: var(--primary-02);
}
button:hover {
  opacity: 0.8;
  transition: ease-in-out 0.3s;
}
h3,
strong {
  font-weight: var(--font-medium);
}
small {
  font-size: var(--font-small);
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.carousel {
  width: 100%;
}
/* Carousel Container */
.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 200px;
}

/* Carousel Progress Bar */
.carousel-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.progress {
  height: 100%;
  background-color: #007bff;
  transition: width 0.5s ease-in-out;
}

/* Carousel Wrapper */
.carousel-wrapper {
  display: flex;
  width: 100%;
}

/* Carousel Item */
.carousel-item {
  box-sizing: border-box;
  padding: 10px;
  margin-left: 10px;
  background-color: #b38383;
  flex-shrink: 0; /* Prevent shrinking */
}

/* Carousel Buttons */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

@media (max-width: 768px) {
  .carousel-item {
    width: 100%;
    margin-left: 0;
  }
  .carousel-container {
    padding-top: 100px; /* Adjust padding for smaller screens */
  }
  body {
    padding: var(--spacing-md) var(--spacing-sm) 0 var(--spacing-sm);
  }
}
