.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-lg);
  width: 100%;
  max-width: var(--max-width-b);
}

@media (max-width: 768px) {
  .main {
    padding: 0;
    padding-bottom: 20px;
  }
}
