.flagsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -3px;
}
.flagsContainer input[type="radio"] {
  display: none;
}
.unselected {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-02);
  padding: var(--spacing-xxs);
  border: 1px solid var(--secondary-02);
  border-radius: 15px;
  transition: ease-in-out 0.2s;
}
.selected {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-02);
  padding: var(--spacing-xxs);
  border: 1px solid var(--secondary);
  border-radius: 12px;
  transition: ease-in-out 0.2s;
  box-shadow: var(--shadow);
}
.flag {
  border-radius: var(--border-radius-lg);
  object-fit: cover;
}
