.carousel {
  width: 100%;
  background-color: royalblue;
}
.carousel-container {
  overflow: hidden;
  width: 100%;
  background-color: red;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%; /* Ensure each item takes up the full width */
  max-width: 100%;
}

.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.progress-bar {
  display: block;
  height: 100%;
  background-color: #0070f3;
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
}
