.outMain {
  background: var(--secondary-02);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius-lg);
  height: 100%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-lg);
  background: var(--linear-gradient-02);
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-md);
  height: 100%;
}
