.flagsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: -3px;
  gap: var(--spacing-xs);
}
.flagsContainer input[type="radio"] {
  display: none;
}
.unselected {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-02);
  padding: var(--spacing-xxs);
  border: 1px solid var(--secondary-02);
  border-radius: 100%;
  transition: ease-in-out 0.2s;
}
.selected {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-02);
  padding: var(--spacing-xxs);
  border: 1px solid var(--secondary);
  border-radius: 100%;
  transition: ease-in-out 0.2s;
  box-shadow: var(--shadow);
}
.flag {
  border-radius: 100%;
  object-fit: cover;
}

.dropDownSelectorContainer {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  background: var(--secondary-02);
  padding-left: var(--spacing-sm);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow);
}
.dropDownSelectorContainer label {
  width: fit-content;
  text-wrap: nowrap;
  font-size: var(--font-small);
  color: var(--primary-02);
  font-weight: var(--font-semibold);
}
.dropDownSelector {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  padding: var(--input-padding);
  border: none;
  outline: none;

  border-radius: var(--border-radius-lg);
  color: var(--primary-02);
  cursor: pointer;
  font-size: var(--font-small);
  width: 100%;
  border: 1px solid var(--secondary-02);
  border-left-color: var(--utils-color);
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
}
.dropDownSelector:focus {
  border: 1px solid var(--secondary);
  transition: all 0.2s ease-in-out;
}

.selectContainer {
  position: relative;
  width: 100%;
  background: var(--secondary-02);
  border-radius: var(--border-radius-lg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: transform 0.3s ease;
}

.rotateArrow {
  transform: translateY(-50%) rotate(90deg);
}
